# MIS-CPIMS Data Import Scripts

Import pandas library and read exported CPARA data from MIS (XLSX). Display all columns for exploration.

In [72]:
import pandas as pd
cpara=pd.read_excel("D:\\USAID 4TheChild\\MIS Folder\\CPIMS Data Importation Workshop\\CPARA.xlsx", sheet_name="Sheet1")
cpara_ovc_questions = pd.read_excel("D:\\USAID 4TheChild\\MIS Folder\\CPIMS Data Importation Workshop\\OVC_Questions.xlsx", sheet_name="Sheet1")
cpims_hhs=pd.read_excel("D:\\USAID 4TheChild\\MIS Folder\\CPIMS Data Importation Workshop\\workbooks\\Household ID OVC Mapping.xlsx", sheet_name="Sheet1")
cpara.columns

Index(['UnIque ID', 'record_id', 'assessment_date', 'cpims_id', 'case_manager',
       'child_headed', 'has_hei', 'has_pbf', 'has_svac', 'q1_1', 'q1_2',
       'q1_3', 'q1_4', 'benchmark1', 'q2_1', 'q2_2', 'q2_3', 'q2_4', 'q2_5',
       'q2_6', 'q2_8', 'q2_7', 'q2_9', 'benchmark2', 'q3_1', 'q3_2', 'q3_3',
       'benchmark3', 'q4_1', 'q4_2', 'q4_3', 'q4_4', 'benchmark4', 'q5_1',
       'q5_2', 'q5_3', 'benchmark5', 'q6_1', 'q6_2', 'q6_3', 'q6_4', 'q6_5',
       'benchmark6', 'q7_1', 'q7_2', 'benchmark7', 'q8_1', 'benchmark8',
       'q9_1', 'q9_2', 'q9_3', 'q9_4', 'benchmark9', 'healthy', 'stable',
       'safe', 'schooled', 'entry_time', 'action_by', 'designation', 'lip',
       'entry_by_name', 'client_time', 'deleted', 'modified', 'gps', 'device',
       'cpimsId', 'names', 'caregiverhivstatus', 'cbo_id', 'cbo', 'county',
       'subcounty', 'ward', 'chv_id', 'chv'],
      dtype='object')

In [96]:
cpara_data=pd.merge(cpara, cpims_hhs, how='left', left_on='cpims_id', right_on='caregiver_id')
cpara_data.head(2)

,UnIque ID,record_id,assessment_date,cpims_id,case_manager,child_headed,has_hei,has_pbf,has_svac,q1_1,...,cbo_id,cbo,county,subcounty,ward,chv_id,chv,cpims_ovc_id,caregiver_id,household
0,2022-09-12-105151,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,...,2796.0,MAKE ME SMILE,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,4282788.0,105151.0,ae1ff881-bf28-471a-9a03-3efceed4d96a
1,2022-09-12-105151,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,...,2796.0,MAKE ME SMILE,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,4282807.0,105151.0,ae1ff881-bf28-471a-9a03-3efceed4d96a

In [81]:
cpara_ovc_questions.columns

Index(['record_id', 'cpara_record_id', 'cpara_date', 'question', 'response',
       'cpims_id', 'caregiver_id', 'chv_id'],
      dtype='object')

In [93]:
cpara_individual=pd.merge(cpara_ovc_questions, cpims_hhs, how='left', left_on='caregiver_id', right_on='caregiver_id')
cpara_individual.head(2)

,record_id,cpara_record_id,cpara_date,question,response,cpims_id,caregiver_id,chv_id,cpims_ovc_id,household
0,5,8859,2022-08-02,q3.1,Yes,1705501,1676623,2042693,1687650.0,b540b485-7399-4407-bd14-066f5b79c133
1,5,8859,2022-08-02,q3.1,Yes,1705501,1676623,2042693,1705501.0,b540b485-7399-4407-bd14-066f5b79c133

In [94]:
cpara_ovc_questions.dtypes #cpims_hhs.dtypes

record_id           int64
cpara_record_id     int64
cpara_date         object
question           object
response           object
cpims_id            int64
caregiver_id        int64
chv_id              int64
dtype: object

Align the MIS data from rows to columns => vertical and only display the first two records. Move the columns that should not be considered as var.

cpims_ovc_id     int64
caregiver_id     int64
household       object
dtype: object

In [98]:
cpara_unpivot=pd.melt(cpara_data, id_vars=['record_id', 'assessment_date', 'cpims_id', 'entry_time', 'action_by',
       'designation', 'lip', 'entry_by_name','client_time', 'modified', 'deleted', 'gps', 'device', 'case_manager', 'cpims_ovc_id', 'household'])

cpara_unpivot.head(2)

,record_id,assessment_date,cpims_id,entry_time,action_by,designation,lip,entry_by_name,client_time,modified,deleted,gps,device,case_manager,cpims_ovc_id,household,variable,value
0,9325,2022-09-12,105151,2022-09-27 12:49:56,3180741,Data Assistant,MAKE ME SMILE,ZILPA AKINYI,2022-09-27 13:49:49,2022-09-27 12:49:56,NaN,NaN,screen=1440 x 900;browser=Chrome;browserVersio...,NaN,4282788.0,ae1ff881-bf28-471a-9a03-3efceed4d96a,UnIque ID,2022-09-12-105151
1,9325,2022-09-12,105151,2022-09-27 12:49:56,3180741,Data Assistant,MAKE ME SMILE,ZILPA AKINYI,2022-09-27 13:49:49,2022-09-27 12:49:56,NaN,NaN,screen=1440 x 900;browser=Chrome;browserVersio...,NaN,4282807.0,ae1ff881-bf28-471a-9a03-3efceed4d96a,UnIque ID,2022-09-12-105151

In [70]:
cpara_unpivot.columns

Index(['record_id', 'assessment_date', 'cpims_id', 'entry_time', 'action_by',
       'designation', 'lip', 'entry_by_name', 'client_time', 'modified',
       'deleted', 'gps', 'device', 'case_manager', 'variable', 'value'],
      dtype='object')

In [102]:
ovc_care_benchmark = cpara_unpivot[cpara_unpivot["variable"].str.contains('benchmark')].pivot(index=['record_id', 'cpims_id','assessment_date','entry_time', 'modified', 'cpims_ovc_id', 'household'], columns='variable', values=['value'])
ovc_care_benchmark.to_excel("D:\\USAID 4TheChild\\MIS Folder\\CPIMS Data Importation Workshop\\workbooks\\ovc_care_benchmark.xlsx")
ovc_care_benchmark.head(2)

                                                                                                       value  \
variable                                                                                          benchmark1
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN              Yes
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN              Yes

                                                                                                              \
variable                                                                                          benchmark2
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN              Yes
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN              Yes

                                                                                                              \
variable                                                                                          benchmark3
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN              Yes
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN              Yes

                                                                                                              \
variable                                                                                          benchmark4
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN              Yes
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN              Yes

                                                                                                              \
variable                                                                                          benchmark5
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN               No
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN               No

                                                                                                              \
variable                                                                                          benchmark6
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN              Yes
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN              Yes

                                                                                                              \
variable                                                                                          benchmark7
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN              Yes
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN              Yes

                                                                                                              \
variable                                                                                          benchmark8
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN              Yes
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN              Yes


variable                                                                                          benchmark9
record_id cpims_id assessment_date entry_time          modified            cpims_ovc_id household
1         3273808  2022-09-07      2022-09-08 08:33:03 2022-09-08 08:33:03 NaN          NaN              Yes
51        3075340  2022-09-06      2022-09-08 14:19:54 2022-09-08 14:19:54 NaN          NaN               No

In [105]:
#ovc_care_cpara = cpara_unpivot[cpara_unpivot["variable"].str.startswith('q')]
ovc_care_cpara = cpara_unpivot[cpara_unpivot["variable"].str.startswith('q')].pivot(index=['record_id', 'cpims_id','assessment_date','cpims_ovc_id', 'household'], columns='variable', values=['value'])
ovc_care_cpara.to_csv("D:\\USAID 4TheChild\\MIS Folder\\CPIMS Data Importation Workshop\\workbooks\\ovc_care_cpara_pivot.csv")
ovc_care_cpara.head(2)

                                                          value            \
variable                                                   q1_1 q1_2 q1_3
record_id cpims_id assessment_date cpims_ovc_id household
1         3273808  2022-09-07      NaN          NaN          na  Yes   na
51        3075340  2022-09-06      NaN          NaN          na  Yes   na

                                                                               \
variable                                                  q1_4 q2_1 q2_2 q2_3
record_id cpims_id assessment_date cpims_ovc_id household
1         3273808  2022-09-07      NaN          NaN        Yes   na   na   na
51        3075340  2022-09-06      NaN          NaN        Yes   na   na   na

                                                                          ...  \
variable                                                  q2_4 q2_5 q2_6  ...
record_id cpims_id assessment_date cpims_ovc_id household                 ...
1         3273808  2022-09-07      NaN          NaN         na   na   na  ...
51        3075340  2022-09-06      NaN          NaN         na   na   na  ...

                                                                               \
variable                                                  q6_3 q6_4 q6_5 q7_1
record_id cpims_id assessment_date cpims_ovc_id household
1         3273808  2022-09-07      NaN          NaN         No   na   na  Yes
51        3075340  2022-09-06      NaN          NaN         No   na   na  Yes

                                                                               \
variable                                                  q7_2 q8_1 q9_1 q9_2
record_id cpims_id assessment_date cpims_ovc_id household
1         3273808  2022-09-07      NaN          NaN        Yes  Yes  Yes  Yes
51        3075340  2022-09-06      NaN          NaN        Yes  Yes  Yes   No


variable                                                  q9_3 q9_4
record_id cpims_id assessment_date cpims_ovc_id household
1         3273808  2022-09-07      NaN          NaN         na  Yes
51        3075340  2022-09-06      NaN          NaN         na  Yes

[2 rows x 35 columns]

In [107]:
cpara_individual.to_excel("D:\\USAID 4TheChild\\MIS Folder\\CPIMS Data Importation Workshop\\workbooks\\cpara_ovc_questions.xlsx")
cpara_individual.head(2)

,record_id,cpara_record_id,cpara_date,question,response,cpims_id,caregiver_id,chv_id,cpims_ovc_id,household
0,5,8859,2022-08-02,q3.1,Yes,1705501,1676623,2042693,1687650.0,b540b485-7399-4407-bd14-066f5b79c133
1,5,8859,2022-08-02,q3.1,Yes,1705501,1676623,2042693,1705501.0,b540b485-7399-4407-bd14-066f5b79c133

In [75]:
cpims_hhs.columns

Index(['cpims_ovc_id', 'caregiver_id', 'household'], dtype='object')

Index(['UnIque ID', 'record_id', 'assessment_date', 'cpims_id', 'case_manager',
       'child_headed', 'has_hei', 'has_pbf', 'has_svac', 'q1_1', 'q1_2',
       'q1_3', 'q1_4', 'benchmark1', 'q2_1', 'q2_2', 'q2_3', 'q2_4', 'q2_5',
       'q2_6', 'q2_8', 'q2_7', 'q2_9', 'benchmark2', 'q3_1', 'q3_2', 'q3_3',
       'benchmark3', 'q4_1', 'q4_2', 'q4_3', 'q4_4', 'benchmark4', 'q5_1',
       'q5_2', 'q5_3', 'benchmark5', 'q6_1', 'q6_2', 'q6_3', 'q6_4', 'q6_5',
       'benchmark6', 'q7_1', 'q7_2', 'benchmark7', 'q8_1', 'benchmark8',
       'q9_1', 'q9_2', 'q9_3', 'q9_4', 'benchmark9', 'healthy', 'stable',
       'safe', 'schooled', 'entry_time', 'action_by', 'designation', 'lip',
       'entry_by_name', 'client_time', 'deleted', 'modified', 'gps', 'device',
       'cpimsId', 'names', 'caregiverhivstatus', 'cbo_id', 'cbo', 'county',
       'subcounty', 'ward', 'chv_id', 'chv', 'cpims_ovc_id', 'caregiver_id',
       'household'],
      dtype='object')

,UnIque ID,record_id,assessment_date,cpims_id,case_manager,child_headed,has_hei,has_pbf,has_svac,q1_1,...,cbo_id,cbo,county,subcounty,ward,chv_id,chv,cpims_ovc_id,caregiver_id,household
0,2022-09-12-105151,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,...,2796.0,MAKE ME SMILE,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,4282788.0,105151.0,ae1ff881-bf28-471a-9a03-3efceed4d96a
1,2022-09-12-105151,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,...,2796.0,MAKE ME SMILE,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,4282807.0,105151.0,ae1ff881-bf28-471a-9a03-3efceed4d96a
2,2022-09-12-105151,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,...,2796.0,MAKE ME SMILE,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,4282821.0,105151.0,29d199db-2f32-4025-bb9b-94357558550b
3,2022-12-08-400387,51209,2022-12-08,400387,NaN,No,No,No,No,na,...,7386.0,GREEN ZONE AGENCIES (GZA) - SIAYA,Siaya,Bondo,North Sakwa,1051372.0,BENTER ATIENO ONYANGO,3382709.0,400387.0,NaN
4,2022-08-24-416966,43884,2022-08-24,416966,NaN,No,No,No,No,Yes,...,7386.0,GREEN ZONE AGENCIES (GZA) - SIAYA,Siaya,Bondo,West Yimbo,3513018.0,FAITH ANN SUJI,3426972.0,416966.0,NaN

In [108]:
cpara_data.to_excel("D:\\USAID 4TheChild\\MIS Folder\\CPIMS Data Importation Workshop\\workbooks\\CPARA_MAPPING.xlsx")

In [109]:
cpara_data.head(2)

,UnIque ID,record_id,assessment_date,cpims_id,case_manager,child_headed,has_hei,has_pbf,has_svac,q1_1,...,cbo_id,cbo,county,subcounty,ward,chv_id,chv,cpims_ovc_id,caregiver_id,household
0,2022-09-12-105151,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,...,2796.0,MAKE ME SMILE,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,4282788.0,105151.0,ae1ff881-bf28-471a-9a03-3efceed4d96a
1,2022-09-12-105151,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,...,2796.0,MAKE ME SMILE,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,4282807.0,105151.0,ae1ff881-bf28-471a-9a03-3efceed4d96a