# MIS-CPIMS Data Import Scripts

Import pandas library and read exported CPARA data from MIS (XLSX). Display all columns for exploration.

In [ ]:
import pandas as pd

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")

ovc_care_benchmark['is_void'] = 'f'

ovc_care_benchmark.to_csv("ovc_care_benchmark.csv",index=False)

ovc_care_benchmark.head(2)

In [6]:
import pandas as pd

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")

ovc_care_benchmark.drop_duplicates()

ovc_care_benchmark.head(5)

,bench_mark_score_id,date_of_event,care_giver_id,household_id,event_id,is_void,timestamp_updated,timestamp_created,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9,score
0,06af7cb5-58e3-4094-832c-e3da767ae32e,2022-06-10,1681654,51069ae8-8642-45be-84f5-6a12919e0724,00eaa680-bff3-457e-8dab-a9b700d80e25,f,NaN,2023-03-05 15:50:49+03,1,1,1,1,1,1,1,1,1,9
1,8caca276-a7a5-4a10-87ce-8a527655cbda,2022-06-10,1681654,51069ae8-8642-45be-84f5-6a12919e0724,2aaef5d9-e6fa-424e-b4a7-3cf6f441cb46,f,NaN,2023-03-05 15:50:49+03,1,1,1,1,1,1,1,1,1,9
2,502d803e-3cf6-4813-ae1b-0af8eff5a138,2022-06-10,1681654,51069ae8-8642-45be-84f5-6a12919e0724,351b77d7-9d75-48ab-97f7-509569b4b0cd,f,NaN,2023-03-05 15:50:49+03,1,1,1,1,1,1,1,1,1,9
3,bb868ca0-1358-4c42-9e0a-890bc62dc945,2022-06-10,1681654,51069ae8-8642-45be-84f5-6a12919e0724,3a400d41-2394-4db0-9bd4-a1fcaa19150d,f,NaN,2023-03-05 15:50:49+03,1,1,1,1,1,1,1,1,1,9
4,0d503054-1bd4-4638-983e-1005252104ed,2022-06-10,1681654,51069ae8-8642-45be-84f5-6a12919e0724,6a4c85e5-9ea7-4e1d-bd3d-d85e34afe59f,f,NaN,2023-03-05 15:50:49+03,1,1,1,1,1,1,1,1,1,9

In [7]:
# make bench_mark_score_id the PK and first column

import uuid
import pandas as pd

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark_5Mar.csv")

record_counts = ovc_care_benchmark['household_id'].count()

def generate_uid(count):
    uid_list = []
    for i in range (0, count):
        uuid_gen = uuid.uuid4()
        # print(f'generated uid: {uuid_gen} inte: {i}')
        uid_list.append(uuid_gen)
    return uid_list    

df_ = pd.DataFrame(generate_uid(record_counts))



ovc_care_benchmark[["bench_mark_score_id"]]= df_


ovc_care_benchmark.to_csv("ovc_care_benchmark.csv",index=False)

ovc_care_benchmark.head(2)

,timestamp_created,date_of_event,caregiver_id,event_id,person_id,household_id,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9,bench_mark_score_id
0,9/8/2022 8:33,9/7/2022,3273808,91a223cb-757d-445b-854d-e9b4fa0f1dab,3076816,c37791cb-9250-4615-ab9a-269f7631dcf4,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,8919ef85-77dc-4772-8f1c-c6286ff9a155
1,9/8/2022 14:19,9/6/2022,3075340,54f74f37-0f22-441b-a3c6-dded579d9260,3075345,eded2d5a-7f7d-4973-b18b-cf8911f0bff8,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No,cfdb8b93-7a2f-4385-8e72-1e8d78f02d44

In [8]:
import uuid
import pandas as pd

# read in the original data frame
ovc_care_benchmark = pd.read_csv('ovc_care_benchmark.csv')

# generate a unique UUID for each row using the apply method
ovc_care_benchmark['bench_mark_score_id'] = ovc_care_benchmark.apply(lambda x: uuid.uuid4(), axis=1)

# set the new column as the first column and set it as the primary key
ovc_care_benchmark.set_index('bench_mark_score_id', inplace=True)
ovc_care_benchmark.reset_index(inplace=True)

# write the modified data frame back to CSV
ovc_care_benchmark.to_csv('ovc_care_benchmark.csv', index=False)

ovc_care_benchmark.head(2)

,bench_mark_score_id,timestamp_created,date_of_event,caregiver_id,event_id,person_id,household_id,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9
0,65b2e7a4-1dd3-4438-be8c-ddf3b22b5a17,9/8/2022 8:33,9/7/2022,3273808,91a223cb-757d-445b-854d-e9b4fa0f1dab,3076816,c37791cb-9250-4615-ab9a-269f7631dcf4,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes
1,02ad79f7-c001-412a-a266-2358fbe8382b,9/8/2022 14:19,9/6/2022,3075340,54f74f37-0f22-441b-a3c6-dded579d9260,3075345,eded2d5a-7f7d-4973-b18b-cf8911f0bff8,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No

In [9]:
import pandas as pd
import datetime

# Define function to convert date formats
def convert_date(date_string):
    try:
        date = pd.to_datetime(date_string, format='%d/%m/%Y ').strftime('%Y-%m-%d')
    except ValueError:
        date = date_string
    return date

# Load original dataframe from CSV file
ovc_care_benchmark = pd.read_csv('ovc_care_benchmark.csv')

# Apply date conversion function to date_of_event column
ovc_care_benchmark['date_of_event'] = ovc_care_benchmark['date_of_event'].apply(lambda x: convert_date(x))

# Save updated dataframe to CSV file
ovc_care_benchmark.to_csv('ovc_care_benchmark.csv', index=False) 

ovc_care_benchmark.head(2)

,bench_mark_score_id,timestamp_created,date_of_event,caregiver_id,event_id,person_id,household_id,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9
0,65b2e7a4-1dd3-4438-be8c-ddf3b22b5a17,9/8/2022 8:33,9/7/2022,3273808,91a223cb-757d-445b-854d-e9b4fa0f1dab,3076816,c37791cb-9250-4615-ab9a-269f7631dcf4,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes
1,02ad79f7-c001-412a-a266-2358fbe8382b,9/8/2022 14:19,9/6/2022,3075340,54f74f37-0f22-441b-a3c6-dded579d9260,3075345,eded2d5a-7f7d-4973-b18b-cf8911f0bff8,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No

In [11]:

import pandas as pd

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")


# ovc_care_benchmark = ovc_care_benchmark.drop('Unnamed: 0', axis=1)
# if your timestamp column is in string format, first convert it to datetime %H:%M:%S+03
ovc_care_benchmark['timestamp_created'] = pd.to_datetime(ovc_care_benchmark['timestamp_created'])
ovc_care_benchmark['timestamp_created'] = ovc_care_benchmark['timestamp_created'].dt.strftime('%Y-%m-%d %H:%M:%S+03')


ovc_care_benchmark.to_csv("ovc_care_benchmark.csv",index=False)
ovc_care_benchmark.head(2)

,bench_mark_score_id,timestamp_created,date_of_event,caregiver_id,event_id,person_id,household_id,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9
0,65b2e7a4-1dd3-4438-be8c-ddf3b22b5a17,2022-09-08 08:33:00+03,2022-09-07,3273808,91a223cb-757d-445b-854d-e9b4fa0f1dab,3076816,c37791cb-9250-4615-ab9a-269f7631dcf4,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes
1,02ad79f7-c001-412a-a266-2358fbe8382b,2022-09-08 14:19:00+03,2022-09-06,3075340,54f74f37-0f22-441b-a3c6-dded579d9260,3075345,eded2d5a-7f7d-4973-b18b-cf8911f0bff8,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No

In [127]:
ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")

ovc_care_benchmark.head(2)

,date_of_event,care_giver_id,household_id,event_id,cpara_id,is_void,timestamp_updated,timestamp_created,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9
0,2022-10-06,1681654,51069ae8-8642-45be-84f5-6a12919e0724,00eaa680-bff3-457e-8dab-a9b700d80e25,NaN,f,NaN,2023-03-05 15:50:49+03,1,1,1,1,1,1,1,1,1
1,2022-10-06,1681654,51069ae8-8642-45be-84f5-6a12919e0724,2aaef5d9-e6fa-424e-b4a7-3cf6f441cb46,NaN,f,NaN,2023-03-05 15:50:49+03,1,1,1,1,1,1,1,1,1

In [17]:
import pandas as pd

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")

ovc_care_benchmark = ovc_care_benchmark.drop('person_id', axis=1)

ovc_care_benchmark.to_csv("ovc_care_benchmark.csv",index=False)



ovc_care_benchmark.columns

Index(['bench_mark_score_id', 'timestamp_created', 'date_of_event',
       'caregiver_id', 'event_id', 'household_id', 'benchmark1', 'benchmark2',
       'benchmark3', 'benchmark4', 'benchmark5', 'benchmark6', 'benchmark7',
       'benchmark8', 'benchmark9', 'score'],
      dtype='object')

In [12]:
import pandas as pd

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")

ovc_care_benchmark.drop('0', axis=1)
ovc_care_benchmark.to_csv("ovc_care_benchmark.csv",index=True)

ovc_care_benchmark.head(2)

KeyError: "['0'] not found in axis"

In [63]:
# remove row with a date like '0022-' from the the dataset

import pandas as pd

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")

# create a Boolean mask to filter out rows with '0022-' in date_of_event column
mask = ~ovc_care_benchmark["date_of_event"].str.contains('0022-')

# apply the mask to the dataframe to exclude the rows
ovc_care_benchmark = ovc_care_benchmark[mask]

# print the filtered dataframe
# print(ovc_care_benchmark_filtered)

ovc_care_benchmark.to_csv("ovc_care_benchmark.csv", index=True)

ovc_care_benchmark.head(2)

,bench_mark_score_id,date_of_event,care_giver_id,household_id,event_id,cpara_id,is_void,timestamp_updated,timestamp_created,benchmark1,...,benchmark9,benchmark10,benchmark11,benchmark12,benchmark13,benchmark14,benchmark15,benchmark16,benchmark17,score
0,5cb914c0-6dd0-4da5-8fa3-a13c40d6fa2e,10/06/2022,1681654,51069ae8-8642-45be-84f5-6a12919e0724,687efbb8-749a-4a84-8544-677bfa6ee79f,NaN,f,NaN,2023-05-03 11:58:00+03,1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,c43eab86-fd54-4bf8-9559-bf8a2fd1c163,10/06/2022,1681654,51069ae8-8642-45be-84f5-6a12919e0724,687efbb8-749a-4a84-8544-677bfa6ee79f,NaN,f,NaN,2023-05-03 11:58:00+03,1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [ ]:
# Generate UID whose length is equivalent to the U4TC cpara data
import uuid

record_counts = cpara['record_id'].count()

def generate_uid(count):
    uid_list = []
    for i in range (0, count):
        uuid_gen = uuid.uuid4()
        # print(f'generated uid: {uuid_gen} inte: {i}')
        uid_list.append(uuid_gen)
    return uid_list    

df_uid = pd.DataFrame(generate_uid(record_counts))
print(record_counts)

In [ ]:
import pandas as pd

#read CPARA into pd df
cpara_usaid = pd.read_excel("CPARA.xlsx")

In [68]:
import pandas as pd
# Reads USAID 4The Child cpara data
cpara=pd.read_excel("CPARA.xlsx", sheet_name="Sheet1")
# cpara.columns

In [69]:
# reads the mapping for U4TC mapping for HH_id, cpims_ovc_id, caregiver id
cpims_hhs=pd.read_csv("Data/Household ID OVC Mapping.csv")

In [70]:
# Reads individual cpara data for U4TC
cpara_ovc_questions = pd.read_excel("Data/OVC_Questions.xlsx", sheet_name="Sheet1")

In [72]:
# Reads the cpims questions mapping
cpims_questions=pd.read_excel("Data/ovc_care_questions.xlsx")

In [73]:
# Mergers cpara data with household id, cpims id on caregiver_id
cpara_data1=pd.merge(cpara, cpims_hhs, how='left', left_on='cpims_id', right_on='caregiver_id')

df_uid = pd.read_csv("event_id_uids.csv")
# Merges cpara data with the event id uids
cpara_data2 = pd.merge(cpara_data1, df_uid['event_id'], left_index=True, right_index=True)
# cpara_data2.columns

cpara_data2.head(2)

,record_id,assessment_date,cpims_id,case_manager,child_headed,has_hei,has_pbf,has_svac,q1_1,q1_2,...,county,subcounty,ward,chv_id,chv,Unnamed: 0,cpims_ovc_id,caregiver_id,household,event_id
0,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,na,...,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,99003,4282788,105151.0,29d199db-2f32-4025-bb9b-94357558550b,89e06cf9-8aff-4d00-8483-16d949ce21c5
1,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,na,...,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,99026,4282807,105151.0,29d199db-2f32-4025-bb9b-94357558550b,22cefcf8-0452-4c21-b837-c12953bf2c60

In [77]:
# output the uids mapped to hh, cg, cpims

cpara_data2.head(2)
# df_uid_event = cpara_data2[['household','caregiver_id', 'cpims_ovc_id', 0]]
# df_uid_events = df_uid_event.rename(columns={0: 'event_id'})

# df_uid_events.to_csv('event_id_uids.csv')


# df_uid_event.head(2)

,record_id,assessment_date,cpims_id,case_manager,child_headed,has_hei,has_pbf,has_svac,q1_1,q1_2,...,county,subcounty,ward,chv_id,chv,Unnamed: 0,cpims_ovc_id,caregiver_id,household,event_id
0,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,na,...,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,99003,4282788,105151.0,29d199db-2f32-4025-bb9b-94357558550b,89e06cf9-8aff-4d00-8483-16d949ce21c5
1,9325,2022-09-12,105151,NaN,No,No,No,No,Yes,na,...,Kisumu,Kisumu East,Manyatta 'B',3173240.0,GILLIANN GILLIAN ACHIENGGG,99026,4282807,105151.0,29d199db-2f32-4025-bb9b-94357558550b,22cefcf8-0452-4c21-b837-c12953bf2c60

In [18]:
df_uid_event.columns

NameError: name 'df_uid_event' is not defined

In [78]:
# cpara individual table merges with with household id, cpims id on caregiver_id
cpara_individual=pd.merge(cpara_ovc_questions, cpims_hhs, how='left', left_on='caregiver_id', right_on='caregiver_id')
# cpara_individual.head(2)

In [79]:
cpara_data = cpara_data2.rename(columns={"assessment_date": "date_of_event","client_time": "timestamp_created","cpims_id": "caregiver_id_ustc",0:  "event_id","household": "household_id","cpims_ovc_id": "person_id"})

cpara_data['cpara_id'] = ''
cpara_data['date_of_previous_event'] = ''
cpara_data['is_void'] = 'f'
cpara_data['timestamp_updated'] = ''
# cpara_data.columns

Align the MIS data from rows to columns => vertical and only display the first two records. Move the columns that should not be considered as var.

In [80]:
# converts the horizontal table of cpara data to vertical table for manipulation
cpara_unpivot=pd.melt(cpara_data, id_vars=["record_id","date_of_event","case_manager","caregiver_id_ustc","child_headed","has_hei","has_pbf","has_svac","healthy","stable","safe","schooled","entry_time","action_by","designation","lip","entry_by_name","timestamp_created","deleted","modified","gps","device","cpimsId","names","caregiverhivstatus","cbo_id","cbo","county","subcounty","ward","chv_id","chv",'Unnamed: 0',"person_id","caregiver_id","household_id","event_id","cpara_id","date_of_previous_event","is_void","timestamp_updated"])

# cpara_data.columns

In [81]:
cpara_unpivot.columns

Index(['record_id', 'date_of_event', 'case_manager', 'caregiver_id_ustc',
       'child_headed', 'has_hei', 'has_pbf', 'has_svac', 'healthy', 'stable',
       'safe', 'schooled', 'entry_time', 'action_by', 'designation', 'lip',
       'entry_by_name', 'timestamp_created', 'deleted', 'modified', 'gps',
       'device', 'cpimsId', 'names', 'caregiverhivstatus', 'cbo_id', 'cbo',
       'county', 'subcounty', 'ward', 'chv_id', 'chv', 'Unnamed: 0',
       'person_id', 'caregiver_id', 'household_id', 'event_id', 'cpara_id',
       'date_of_previous_event', 'is_void', 'timestamp_updated', 'variable',
       'value'],
      dtype='object')

In [82]:
# filters bencmark questions and pivots them.
ovc_care_benchmark = cpara_unpivot[cpara_unpivot["variable"].str.contains('benchmark')]#.pivot(index=['record_id', 'cpims_id','assessment_date','entry_time', 'modified', 'cpims_ovc_id', 'household', 0], columns='variable', values=['value'])
# ovc_care_benchmark.to_excel("ovc_care_benchmark.xlsx")
unique_hh = ovc_care_benchmark['household_id'].str.contains('NaN')

# print(unique_hh.str.contains('NaN'))

ovc_care_benchmark.head(0)

Empty DataFrame
Columns: [record_id, date_of_event, case_manager, caregiver_id_ustc, child_headed, has_hei, has_pbf, has_svac, healthy, stable, safe, schooled, entry_time, action_by, designation, lip, entry_by_name, timestamp_created, deleted, modified, gps, device, cpimsId, names, caregiverhivstatus, cbo_id, cbo, county, subcounty, ward, chv_id, chv, Unnamed: 0, person_id, caregiver_id, household_id, event_id, cpara_id, date_of_previous_event, is_void, timestamp_updated, variable, value]
Index: []

[0 rows x 43 columns]

In [83]:
# ovc_care_benchmark columns you need

ovc_care_benchmark.columns
ovc_care_benchmark= ovc_care_benchmark[["record_id","date_of_event","caregiver_id_ustc","household_id","event_id","cpara_id","is_void","timestamp_updated","variable","value"]]
ovc_care_benchmark.head(2)

,record_id,date_of_event,caregiver_id_ustc,household_id,event_id,cpara_id,is_void,timestamp_updated,variable,value
130064,9325,2022-09-12,105151,29d199db-2f32-4025-bb9b-94357558550b,89e06cf9-8aff-4d00-8483-16d949ce21c5,,f,,benchmark1,Yes
130065,9325,2022-09-12,105151,29d199db-2f32-4025-bb9b-94357558550b,22cefcf8-0452-4c21-b837-c12953bf2c60,,f,,benchmark1,Yes

In [84]:
ovc_care_benchmark.count(
    
)

record_id            292644
date_of_event        292644
caregiver_id_ustc    292644
household_id         292644
event_id             292644
cpara_id             292644
is_void              292644
timestamp_updated    292644
variable             292644
value                292644
dtype: int64

In [13]:
# convert yes to 1 , no to 0, [["benchmark1","benchmark2","benchmark3","benchmark4","benchmark5","benchmark6","benchmark7","benchmark8","benchmark9",]] 
import pandas as pd
ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")


ovc_care_benchmark.replace({"Yes": 1, "No": 0}, inplace=True)


ovc_care_benchmark.head(2)

ovc_care_benchmark.to_csv("ovc_care_benchmark.csv",index=False)

ovc_care_benchmark.head(2)

,bench_mark_score_id,timestamp_created,date_of_event,caregiver_id,event_id,person_id,household_id,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9
0,65b2e7a4-1dd3-4438-be8c-ddf3b22b5a17,2022-09-08 08:33:00+03,2022-09-07,3273808,91a223cb-757d-445b-854d-e9b4fa0f1dab,3076816,c37791cb-9250-4615-ab9a-269f7631dcf4,1,1,1,1,0,1,1,1,1
1,02ad79f7-c001-412a-a266-2358fbe8382b,2022-09-08 14:19:00+03,2022-09-06,3075340,54f74f37-0f22-441b-a3c6-dded579d9260,3075345,eded2d5a-7f7d-4973-b18b-cf8911f0bff8,1,1,1,1,0,1,1,1,0

In [86]:
import numpy as np
from datetime import datetime


# Rename the 'caregiver_id_ustc' column to 'care_giver_id'
ovc_care_benchmark = ovc_care_benchmark.rename(columns={'caregiver_id_ustc': 'care_giver_id'})

# add additional columns needed in the schema
# ovc_care_benchmark[["benchmark10","benchmark11","benchmark12","benchmark13","benchmark14","benchmark15","benchmark16","benchmark17"]]=np.nan



ovc_care_benchmark[["bench_mark_score_id"] ]= np.nan

ovc_care_benchmark[["timestamp_created"]]= datetime.now()

ovc_care_benchmark.head(0)

Empty DataFrame
Columns: [record_id, date_of_event, care_giver_id, household_id, event_id, cpara_id, is_void, timestamp_updated, variable, value, bench_mark_score_id, timestamp_created]
Index: []

In [90]:
# pivot the table ovc_care_benchmark

# ovc_care_benchmark = ovc_care_benchmark[ovc_care_benchmark["variable"].str.contains('benchmark')].pivot(index=['record_id','date_of_event','care_giver_id','household_id','event_id','cpara_id','is_void','timestamp_updated','bench_mark_score_id','timestamp_created'], columns='variable', values=['value']).reset_index()

ovc_care_benchmark.to_csv("ovc_care_benchmark.csv",index=False)


ovc_care_benchmark.count

<bound method DataFrame.count of          record_id date_of_event care_giver_id  \
variable
0              269    2022-06-10       1681654
1              269    2022-06-10       1681654
2              269    2022-06-10       1681654
3              269    2022-06-10       1681654
4              269    2022-06-10       1681654
...            ...           ...           ...
32511        51909    2022-12-08       1032078
32512        51909    2022-12-08       1032078
32513        51909    2022-12-08       1032078
32514        51909    2022-12-08       1032078
32515        51909    2022-12-08       1032078

                                  household_id  \
variable
0         51069ae8-8642-45be-84f5-6a12919e0724
1         51069ae8-8642-45be-84f5-6a12919e0724
2         51069ae8-8642-45be-84f5-6a12919e0724
3         51069ae8-8642-45be-84f5-6a12919e0724
4         51069ae8-8642-45be-84f5-6a12919e0724
...                                        ...
32511     5789cbbd-7765-4e33-82d2-3cae5ba34ab4
32512     5789cbbd-7765-4e33-82d2-3cae5ba34ab4
32513     5789cbbd-7765-4e33-82d2-3cae5ba34ab4
32514     5789cbbd-7765-4e33-82d2-3cae5ba34ab4
32515     5789cbbd-7765-4e33-82d2-3cae5ba34ab4

                                      event_id cpara_id is_void  \
variable
0         00eaa680-bff3-457e-8dab-a9b700d80e25                f
1         2aaef5d9-e6fa-424e-b4a7-3cf6f441cb46                f
2         351b77d7-9d75-48ab-97f7-509569b4b0cd                f
3         3a400d41-2394-4db0-9bd4-a1fcaa19150d                f
4         6a4c85e5-9ea7-4e1d-bd3d-d85e34afe59f                f
...                                        ...      ...     ...
32511     f894c2ac-e329-48cf-8fb4-b58663994b3a                f
32512     f8cb4318-cb03-4d71-99a7-64bf390cbfe9                f
32513     faa461fd-557a-4ade-b021-425b1ec29e38                f
32514     fc881f22-e587-4804-98f3-0b1866f9f43a                f
32515     ff111c7d-93c3-4ced-b233-1abb6ad2e011                f

         timestamp_updated bench_mark_score_id          timestamp_created  \
variable
0                                          NaN 2023-03-05 15:50:49.035984
1                                          NaN 2023-03-05 15:50:49.035984
2                                          NaN 2023-03-05 15:50:49.035984
3                                          NaN 2023-03-05 15:50:49.035984
4                                          NaN 2023-03-05 15:50:49.035984
...                    ...                 ...                        ...
32511                                      NaN 2023-03-05 15:50:49.035984
32512                                      NaN 2023-03-05 15:50:49.035984
32513                                      NaN 2023-03-05 15:50:49.035984
32514                                      NaN 2023-03-05 15:50:49.035984
32515                                      NaN 2023-03-05 15:50:49.035984

              value                                                         \
variable benchmark1 benchmark2 benchmark3 benchmark4 benchmark5 benchmark6
0                 1          1          1          1          1          1
1                 1          1          1          1          1          1
2                 1          1          1          1          1          1
3                 1          1          1          1          1          1
4                 1          1          1          1          1          1
...             ...        ...        ...        ...        ...        ...
32511             1          1          1          1          1          1
32512             1          1          1          1          1          1
32513             1          1          1          1          1          1
32514             1          1          1          1          1          1
32515             1          1          1          1          1          1


variable benchmark7 benchmark8 benchmark9
0                 1          1          1
1                 1          1          1
2                 1          1          1
3                 1          1          1
4                 1          1          1
...             ...        ...        ...
32511             1          1          0
32512             1          1          0
32513             1          1          0
32514             1          1          0
32515             1          1          0

[32516 rows x 19 columns]>

In [100]:
import pandas as pd
import uuid
from datetime import datetime

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")

# ovc_care_benchmark["score"] = ovc_care_benchmark[["benchmark1","benchmark2","benchmark3","benchmark4","benchmark5","benchmark6","benchmark7","benchmark8","benchmark9"]].sum(axis=1, skipna=True)


# ovc_care_benchmark.to_csv("ovc_care_benchmark.csv", index=False)
ovc_care_benchmark.head(2)


# Generate UID whose length is equivalent to the U4TC cpara data


# record_counts = ovc_care_benchmark['household_id'].count()

,Unnamed: 0,record_id,date_of_event,care_giver_id,household_id,event_id,cpara_id,is_void,timestamp_updated,timestamp_created,value,value.1,value.2,value.3,value.4,value.5,value.6,value.7,value.8
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9
1,1,269.0,2022-06-10,1681654.0,51069ae8-8642-45be-84f5-6a12919e0724,00eaa680-bff3-457e-8dab-a9b700d80e25,NaN,f,NaN,2023-03-05 15:50:49+03,1,1,1,1,1,1,1,1,1

In [125]:
# fill benchmark id column with unique values

ovc_care_benchmark.head(2)
# record_counts = ovc_care_benchmark['bench_mark_score_id'].count()
# print(record_counts)

# df_uid = pd.DataFrame(generate_uid(record_counts))


# ovc_care_benchmark['bench_mark_score_id'] = ovc_care_benchmark['bench_mark_score_id'].fillna(df_uid).astype(int)

         record_id date_of_event care_giver_id  \
variable
0              269    2022-06-10       1681654
1              269    2022-06-10       1681654

                                  household_id  \
variable
0         51069ae8-8642-45be-84f5-6a12919e0724
1         51069ae8-8642-45be-84f5-6a12919e0724

                                      event_id cpara_id is_void  \
variable
0         0e1811c8-ea3b-4d19-a596-c01b72b182f6                f
1         240a805f-b84a-4633-a6aa-097114194464                f

         timestamp_updated bench_mark_score_id timestamp_created  ...  \
variable                                                          ...
0                                          NaN              None  ...
1                                          NaN              None  ...

         benchmark17      value                                              \
variable             benchmark1 benchmark2 benchmark3 benchmark4 benchmark5
0                NaN          1          1          1          1          1
1                NaN          1          1          1          1          1


variable benchmark6 benchmark7 benchmark8 benchmark9
0                 1          1          1          1
1                 1          1          1          1

[2 rows x 27 columns]

In [126]:
ovc_care_benchmark = ovc_care_benchmark[ovc_care_benchmark["variable"].str.contains('benchmark')].reset_index().pivot(index=['record_id', 'date_of_event', 'care_giver_id', 'household_id', 'event_id', 'cpara_id', 'is_void', 'timestamp_updated', 'benchmark10', 'benchmark11', 'benchmark12', 'benchmark13', 'benchmark14', 'benchmark15', 'benchmark16', 'benchmark17', 'bench_mark_score_id', 'timestamp_created'], columns='variable', values='value')



ovc_care_benchmark.head(2)

KeyError: 'variable'

In [127]:
# ovc_care_benchmark = ovc_care_benchmark.reset_index().drop(['variable'], axis=0)
# ovc_care_benchmark = ovc_care_benchmark.melt(id_vars=['record_id', 'care_giver_id', 'date_of_event', 'entry_time', 'modified', 'cpims_ovc_id', 'household_id', 'benchmark11', 'benchmark12', 'benchmark13', 'benchmark14', 'benchmark15', 'benchmark16', 'benchmark17', 'bench_mark_score_id', 'timestamp_updated', 'timestamp_created'])
ovc_care_benchmark.to_csv('ovc_care_benchmark.csv', index=False) 
print(type(ovc_care_benchmark))
ovc_care_benchmark.head(2)

<class 'pandas.core.frame.DataFrame'>

         record_id date_of_event care_giver_id  \
variable
0              269    2022-06-10       1681654
1              269    2022-06-10       1681654

                                  household_id  \
variable
0         51069ae8-8642-45be-84f5-6a12919e0724
1         51069ae8-8642-45be-84f5-6a12919e0724

                                      event_id cpara_id is_void  \
variable
0         0e1811c8-ea3b-4d19-a596-c01b72b182f6                f
1         240a805f-b84a-4633-a6aa-097114194464                f

         timestamp_updated bench_mark_score_id timestamp_created  ...  \
variable                                                          ...
0                                          NaN              None  ...
1                                          NaN              None  ...

         benchmark17      value                                              \
variable             benchmark1 benchmark2 benchmark3 benchmark4 benchmark5
0                NaN          1          1          1          1          1
1                NaN          1          1          1          1          1


variable benchmark6 benchmark7 benchmark8 benchmark9
0                 1          1          1          1
1                 1          1          1          1

[2 rows x 27 columns]

In [ ]:

record_counts = ovc_care_benchmark['household_id'].count()

   
df_uid = pd.DataFrame(generate_uid(record_counts))
print(record_counts)

In [15]:
# add column score (sum of all benchmarks 1-9)

import pandas as pd

ovc_care_benchmark = pd.read_csv("ovc_care_benchmark.csv")

# ovc_care_benchmark[["score"]] = ovc_care_benchmark[["benchmark1","benchmark2","benchmark3","benchmark4","benchmark5","benchmark6","benchmark7","benchmark8","benchmark9"]].sum(axis=1)


ovc_care_benchmark["score"] = ovc_care_benchmark.loc[:, "benchmark1":"benchmark9"].sum(axis=1)

ovc_care_benchmark.to_csv("ovc_care_benchmark.csv", index=False)
# print(ovc_care_benchmark[["benchmark1","benchmark2","benchmark3","benchmark4","benchmark5","benchmark6","benchmark7","benchmark8","benchmark9"]].shape)

ovc_care_benchmark.head(2)

,bench_mark_score_id,timestamp_created,date_of_event,caregiver_id,event_id,person_id,household_id,benchmark1,benchmark2,benchmark3,benchmark4,benchmark5,benchmark6,benchmark7,benchmark8,benchmark9,score
0,65b2e7a4-1dd3-4438-be8c-ddf3b22b5a17,2022-09-08 08:33:00+03,2022-09-07,3273808,91a223cb-757d-445b-854d-e9b4fa0f1dab,3076816,c37791cb-9250-4615-ab9a-269f7631dcf4,1,1,1,1,0,1,1,1,1,8
1,02ad79f7-c001-412a-a266-2358fbe8382b,2022-09-08 14:19:00+03,2022-09-06,3075340,54f74f37-0f22-441b-a3c6-dded579d9260,3075345,eded2d5a-7f7d-4973-b18b-cf8911f0bff8,1,1,1,1,0,1,1,1,0,7

In [16]:
#unique_hh.describe()

ovc_care_benchmark.columns

Index(['bench_mark_score_id', 'timestamp_created', 'date_of_event',
       'caregiver_id', 'event_id', 'person_id', 'household_id', 'benchmark1',
       'benchmark2', 'benchmark3', 'benchmark4', 'benchmark5', 'benchmark6',
       'benchmark7', 'benchmark8', 'benchmark9', 'score'],
      dtype='object')

In [ ]:
# Filter cpara question and pivots them or not.  // send to excel
#ovc_care_cpara = cpara_unpivot[cpara_unpivot["variable"].str.startswith('q')]
ovc_care_cpara = cpara_unpivot[cpara_unpivot["variable"].str.startswith('q')]#.pivot(index=['record_id', 'cpims_id','assessment_date','cpims_ovc_id', 'household'], columns='variable', values=['value'])
# ovc_care_cpara.to_csv("ovc_care_cpara_pivot.csv")

In [ ]:
cpims_questions.columns

In [ ]:
ovc_cpara_with_q = pd.merge(ovc_care_cpara, cpims_questions, how='left', left_on='variable', right_on='cpara')

# ovc_cpara_with_q.columns

In [ ]:
# cpara_individual.to_excel("cpara_ovc_questions.xlsx")
cpara_individual.head(2)

In [ ]:
cpims_hhs.columns

In [ ]:
cpara_data.to_excel("CPARA_MAPPING.xlsx")

In [ ]:
cpara_data_output = ovc_cpara_with_q.rename(columns={"code": "question_code","value": "answer","question_type": "question_type","domain": "domain","question_id": "question_id"})


cpara_data_output.columns

In [ ]:
columns_to_out = ["cpara_id","question_code","answer","question_type","domain","date_of_event","date_of_previous_event","timestamp_created_x","is_void_x","timestamp_updated_x","caregiver_id","event_id","household_id","person_id","question_id"]

cpara_output_sql = cpara_data_output[columns_to_out]

# cpara_output_sql.to_csv('cpara_data.csv')

cpara_output_sql.iloc[0:20000].to_csv('sample_cpara_data.csv')

In [ ]:
# unique_hh_ids = pd.DataFrame(cpara_output_sql['household_id'].unique())
# unique_hh_ids.groupby([])
cpara_output_sql.groupby(['caregiver_id'])['person_id'].count().to_csv('unique_hhs.csv')

In [ ]:
cpara_data.head()

In [ ]:
event_columns = ['event_id', 'date_of_event', 'household_id', 'person_id']

ovc_care_events = cpara_data[event_columns]

ovc_care_events

additional_columns = ["event_type_id","event_counter","event_score","date_of_previous_event","created_by","timestamp_created","is_void"]

for i in additional_columns:
    ovc_care_events[i]= ' '

ovc_care_events.columns

In [ ]:
# get sync id
# events_count = ovc_care_events['event_id'].count()
sync_uid = pd.DataFrame(generate_uid(record_counts))
sync_uid

ovc_care_events_wi = ovc_care_events.reset_index()

ovc_care_events_wi

ovc_care_events_sync = pd.merge(ovc_care_events_wi, sync_uid,left_index=True,  right_index=True)

ovc_care_events_sync_out=ovc_care_events_sync.rename(columns={0: 'sync_id'})

In [ ]:
ovc_care_events_sync_out['sync_id'].count()
cpara['record_id'].count()

In [ ]:
ovc_care_events_sync_out.iloc[0:1000].to_csv('ovc_care_events.csv')